<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Puppy Playtime: Thanks for Signing Up! </title>
	<meta name="author" content="Mark Breneman">
	<!-- Date: 2012-09-24 -->
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>

<h3>Thank {{first_name}} {{last_name}} for your interest in Puppy Playtime.  As soon as the system is function we'll let you know.</h3>

<br><a href='/'>Home</a>

    
</body>
</html>
