<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Welcome to Off Leash!</title>
	<meta name="author" content="Mark Breneman">
	<!-- Date: 2012-09-24 -->
	<link rel="stylesheet" href="static/CSS/styles.css" type="text/css">
</head>


<body>
<h1> OFF LEASH</h1>
<h2> A dog check-in service for dog parks</h2>
<div class="introform">
<p class="intro"> 
    Off Leash is dog check-in service for dog owners who want to know if there are any dogs at their local dog park and what types of dog are there.

    The goal of Off Leash is to create the best dog playtime at dog parks by giving owners the ability to decide if their dog will fit in among the other dogs before venturing out to the dog park.

    To sign up for Off Leash enter your details to the right.
</p>

	<form action="/form" method="POST">
First Name: <input type="text" name="first_name" id="first_name"/>
Last Name: <input type="text" name="last_name" id="last_name"/>
E-mail: <input type="text" name="email" id="email"/>
		<input class="submitbutton" type="submit" value="Join"/>
	</form>
</div>
<img class="pug" src="/static/Media/pug.svg" </>

<img class="grass" src="/static/Media/grass.svg"  </>


  <a class="aboutlink" href='/about'>About</a><br>
</body>
</html>
